*{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.main-menu {
    float:left;
    width: 100px;
    height: 30px;
    background-color:darkgrey;
    margin-right: 5px;
    text-align: center;
}
.main-menu a{
    color:purple;
    display: block;
    line-height: 30px;
}
.sub-menu {
    background: lightgrey;
    text-align: left;
    text-indent: 5px;
    display:none;
}
.sub-menu li{
    border-bottom: dashed 1px;
}
.sub-menu  :hover{
    background-color: lightyellow;
}